:root{
    --yellow: #fbffa7;
    --blue-sky: #b1c5ff;
    --green: #b6ffc0;
    --orange: #ff764d;
    --purple: #d5b3ff;
    --blue: #0000ff;
}

/* Future Pt Book */
@font-face {
    font-family: 'Future Pt Book';
    src: url('./assets/font/FuturaCyrillicBook.ttf') format('ttf');
    font-style: normal;
}
/*  Future Pt Book Oblique */
@font-face {
    font-family: 'Future Pt Book Oblique';
    src: url('./assets/font/futura-pt-book-oblique.woff2') format('woff2');
    font-style: oblique;
}
/*  Future Pt Medium */
@font-face {
    font-family: 'Future Pt Medium';
    src: url('./assets/font/FuturaCyrillicMedium.ttf') format('ttf');
    font-style: normal;
}

body{
    margin: 0;
    position: relative;
    width: 100vw;
    font-family: 'Future Pt Medium', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;

    &:hover{
        color: black;
    }
}

a.active{
    color: var(--orange);
}

/*===================================================================================*/
/*====================================> HEADER <=====================================*/
/*===================================================================================*/

header{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.top-navbar, .bottom-navbar{
    display: flex;
}

.top-navbar{
    padding: 1.25rem;
    align-items: center;
    font-weight: bold;

    img{
        flex-grow: auto;
        width: 3.75rem;
        height: 1.75rem;
        padding: 0 1.5rem;
    }

    ul{
        flex-grow: 1;
        display: flex;
        gap: 1rem;

        li{
            flex-grow: 1;
            text-align: center;
        }
        li:has(a.try-live){
            text-align: right;
            flex-grow: 10;
        }

        .more{
            color: var(--orange);
            cursor: pointer;
        }

        .try-live{
            color: var(--blue);
        }
    }

    input#more{
        appearance: none;
        margin: 5px 3px;
        content: '';
        height: 2px;
        width: 12px;
        background-color: var(--orange);
        cursor: inherit;
    }
}

.middle-navbar{
    display: none;
    flex-direction: column;
    gap: 2.25rem;
    padding: 1.5rem 2.5rem 3.5rem 2.5rem;

    h3, h4, p{
        margin: 0;
    }

    h3{
        padding-bottom: .5rem;
        font-size: 1.875rem;
    }

    .more-list{
        display: flex;
        gap: 2.5rem;
    }

    .from-ableton > .more-list > li{
        flex-grow: 1;
    }

}

.header:has(.top-navbar input[type="checkbox"]:checked) .middle-navbar{
    display: flex;
}


.bottom-navbar{
    border-top: 2px solid #eee;
    padding: 1.25rem 2.5rem;
    gap: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

/*===================================================================================*/
/*====================================> FOOTER <=====================================*/
/*===================================================================================*/
