/* RESET */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* TYPOGRAPHY */
/* TODO : Why we need to set this three fonts onto the same name  */
@font-face {
    font-family: 'futura-pt';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/futura-pt-book.ttf') format('truetype');
}

@font-face {
    font-family: 'futura-pt';
    font-style: italic;
    font-weight: normal;
    src: url('./assets/font/futura-pt-book-oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'futura-pt';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/font/futura-pt-medium.ttf') format('truetype');
}



/* VARIABLES */
:root {
    --yellow: #fbffa7;
    --blue-sky: #b1c5ff;
    --green: #b6ffc0;
    --orange: #ff764d;
    --purple: #d5b3ff;
    --blue: #0000ff;
}


/* GLOBAL STYLES */
body {
    position: relative;
    width: 100vw;
    font-family: 'futura-pt', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;

    &:hover{
        color: black;
    }
}

a.active{
    color: var(--orange);
}

main {
    h1, h2 {
        font-size: 1.875rem;
        line-height: 1.4;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5;
    }
}



/* UTILITY CLASSES */
.color-accent-blue{
    color: var(--blue);

    &:hover{
        color: var(--blue);
    }
}

.arrow::after{
    box-sizing: border-box;
    display: inline-block;
    width: 0.315em;
    height: 0.315em;
    margin-left: 0.1em;
    content: '';
    border-style: solid;
    border-width: 0.09em 0.09em 0 0;
    transform: rotate(50deg) skew(10deg) translateY(-50%);
    color: inherit;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    object-fit: fill;
}

.regular-size {
    width: 667px;
    height: 667px;
}

.small-size {
    width: 534px;
    height: 400px;
}

.background{
    display: block;
    position: absolute;
    width: 58%;
    height: 80%;
    z-index: -1;
}

.bg--center {
    left: 50%;
    transform: translateX(-50%);
}

.bg--left {
    left: 0;
}

.bg--right {
    right: 0;
}

.bg--yellow {
    background-color: var(--yellow);
}

.bg--green {
    background-color: var(--green);
}

.bg--purple {
    background-color: var(--purple);
}

.px-xl {
    padding: 8rem 0;
}

.px-l {
    padding: 4rem 0;
}


/* CUSTOM STYLES */
/*===================================================================================*/
/*====================================> HEADER <=====================================*/
/*===================================================================================*/

header {
    display: flex;
    flex-direction: column;
}

.navbar--top, .navbar--bottom{
    display: flex;
}

.navbar__logo--image {
    display: block;
    width: 3.75em;
    height: 1.75em;
}

.navbar--top{
    padding: 1.5rem 2.5rem;
    align-items: center;
    font-weight: bold;
}

.top__links {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    margin-left: 1.5em;

    > li:not(:last-child) {
        font-size: 1.25em;
    }

    .more{
        color: var(--orange);
        cursor: pointer;
    }
}

.top__item {
    flex-grow: 1;
    text-align: center;

    &:has(a.try-live){
        text-align: right;
        flex-grow: 10;
    }
}

#more{
    appearance: none;
    margin: 5px 3px;
    content: '';
    height: 2px;
    width: 12px;
    background-color: var(--orange);
    cursor: inherit;

    &:after {
        content: '';
        display: block;
        width: 12px;
        height: 2px;
        background-color: var(--orange);
        position: absolute;
        transform: rotate(90deg);
    }
}

.header:has(.navbar--top input[type="checkbox"]:checked) #more:after {
    display: none;
}

.navbar--middle {
    display: none;
    flex-direction: column;
    gap: 3.125rem;
    padding: 2.25rem 2.5rem 3.5rem 2.5rem;

    h3, h4, p {
        margin: 0;
    }

    h3 {
        padding-bottom: .5rem;
        font-size: 1.75rem;
    }

    a {
        font-size: 1.25em;
    }

    .more-list{
        display: flex;
        gap: 2rem;
    }

    .from-ableton > .more-list > li {
        flex-grow: 1;
    }

}

.header:has(.navbar--top input[type="checkbox"]:checked) .navbar--middle{
    display: flex;
}

.navbar--bottom{
    border-top: 2px solid #eee;
    padding: 1.25rem 2.5rem;
    gap: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
}



/*===================================================================================*/
/*====================================> MAIN <=====================================*/
/*===================================================================================*/
.container > section {
    margin-bottom: 10rem;
}

.image__container{
    max-width: 84%;
    margin: 0 auto 10rem;
    display: flex;
    align-items: center;
}

.image__group {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.description__container, .video__container{
    margin: 0 auto;
    max-width: 50%;
}

.description__title, .description__text {
    margin-bottom: 1.25rem;
}

.video__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.video__title {
    display: block;
    font-size: .875rem;
    font-weight: bold;
    padding: .625rem;
}

.hero > .image__container{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__image {
    width: 100%;
    height: 656px;
    object-fit: cover;
}

.hero__logo{
    width: 430px;
    height: 104px;
    z-index: 100;
    position: absolute;
    fill: #FD5948;
}

.content{
    position: relative;
}

.content > .image__container {
    justify-content: space-between;
}

.cta {
    max-width: 84%;
    margin: 0 auto;
    display: flex;

    .cta-image{
        flex-grow: 1;
        height: auto;
    }

    .cta-description {
        flex-grow: 1;
        background-color: var(--blue-sky);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/*===================================================================================*/
/*====================================> FOOTER <=====================================*/
/*===================================================================================*/
.footer {
    border-top: 2px solid #eee;
    padding: 6rem 8rem 7rem 8rem;
    font-size: 1.25rem;
}

.footer > img {
    width: 188px;
    height: 45px;
    padding-bottom: 4.125em;
}

.footer-middle {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 1rem;

    .item {
        flex-grow: 1;
        /* TODO : Use max function to limit the width of the item */
        max-width: 40%;

    }

    .newsletter{
        flex-grow: 1.5 !important;
    }

    .item > h4, p{
        margin-top: 0;
        margin-bottom: 0;
    }

    .item > .social-media {
        margin-top: 1em;

        li{
            display: inline;
            margin-right: .5em;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }

    .email-form{
        display: flex;
        margin-top: 1em;
        flex-wrap: nowrap;

        input {
            background-color: #eee;
            border: 0;
            border-radius: 0;
            flex-grow: 4;
            font-size: 1.325rem;
            font-family: inherit;
            font-weight: normal;

            padding: .4em .75em;
            user-select: none;
        }

        button[type="submit"] {
            background-color: var(--blue);
            color: white;
            text-align: center;
            border: 0;
            border-radius: 0;
            cursor: pointer;
            flex-grow: 1;
            font-size: 1.325rem;
            font-family: inherit;
            font-weight: 600;

            padding: .4em .75em;
        }
    }

    .language-location-form {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        margin-top: .75rem;

        select{
            background-color: #eee;
            border: 0;
            border-radius: 0;
            padding: .4em .75em;
            font-size: .8rem;
            font-family: inherit;
            font-weight: bold;
        }

        .js-language{
            flex-grow: 0.5;
        }

        .js-country{
            flex-grow: 1.5;
        }
    }

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    font-weight: bold;
    margin-top: 4.5rem;

    .footer-bottom-left, .footer-bottom-right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}